/* src/App.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(
    299deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(173, 173, 239, 1) 94%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  font-family: Arial, sans-serif;
}

.game-container {
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.game-area {
  position: relative;
  width: 1600px; /* Adjust dimensions as needed */
  height: 500px; /* Adjust dimensions as needed */
  border: 2px solid #fff;
  background-color: #333;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

.game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1600px; /* Match dimensions to game-area */
  height: 500px; /* Match dimensions to game-area */
  border: 2px solid #fff;
  background-color: #333;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  font-size: 30px;
}
.result-container button {
  font-size: 20px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  background-color: #ff7f50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff4500;
}

h2 {
  margin: 10px 0;
}

.rule-selector {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.rule-group {
  display: flex;
  align-items: center;
}

.rule-button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: white;
  transition: background-color 0.3s ease;
}

.rule-button.active {
  background-color: #ff7f50;
}

.rule-button:hover {
  background-color: #666;
}

input[type="range"] {
  width: 200px;
  margin: 10px 0;
}

input[type="range"]::-webkit-slider-thumb {
  background: #ff7f50;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  background: #ff7f50;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.glow-correct {
  box-shadow: 0 0 25px 10px rgba(0, 0, 255, 0.7); /* Bluish glow */
  background-color: rgba(0, 0, 255, 0.1); /* Bluish glow */
}

.glow-wrong {
  box-shadow: 0 0 25px 10px rgba(255, 0, 0, 0.7); /* Reddish glow */
}
