/* src/App.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(
    299deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(173, 173, 239, 1) 94%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  font-family: Arial, sans-serif;
}

.game-container {
  text-align: center;
}

.game-area {
  position: relative;
  width: 1200px; /* Adjust dimensions as needed */
  height: 500px; /* Adjust dimensions as needed */
  border: 2px solid #000;
  background-color: #746d6d;
  margin: 0 auto;
  overflow: hidden;
}

.game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}

h2 {
  margin: 10px 0;
}

.rule-selector .list {
  display: flex;
  margin: 10px 0;
}

.rule-selector .list label {
  margin: 5px 0;
}

.rule-selector select {
  padding: 5px;
  margin: 10px 0;
  font-size: 16px;
  height: auto;
  width: 150px;
}
